<nav class="navbar">
    <div class="navbar-container">
        <a href="/" class="navbar-brand">My Blog</a>
        <ul class="navbar-links">
            <li><a href="/">Home</a></li>
            {{#if logged_in}}
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/logout">Logout</a></li>
            {{else}}
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
            {{/if}}
        </ul>
    </div>
</nav>
